{% extends 'base.html' %}

{% block tituloPagina %} Inicio {% endblock %}

{% block contenido %}
<main role="main">
    <div class="container">
        <h1 class="text-center" style="margin-top: 30px;">Ayuda</h1>
        <p>¡Hola! Bienvenido a <strong>LiveGuardian</strong>, una aplicación desarrollada por José Joaquín Virtudes Castro, alumno de la ETSII en la Universidad de Sevilla, como su Trabajo Fin de Grado.
        LiveGuardian es una aplicación de videovigilancia potenciada con el poder de la inteligecia artifical. Esta permite visualizar y detectar
    objetos sobre multiples cámaras en tiempo real, además de enviar alertas a usuarios por Telegram y almacenar las mismas.</p>
        <p>En esta página, describiremos algunos componentes de la aplicación y realizaremos unos pequeños tutoriales para el uso de estos.</p>
        <h3>Dashboard</h3>
        <p>Esta es la página principal de la aplicación y es donde encontraremos el streaminng en tiempo real de nuestras cámaras, además de la
            información más relevante de las mismas. Entre la información más imporante nos encontramos (icono papelera) para borrar la cámara,
            (Detector) que nos indica el nombre del detector en caso de estar asignado, (icono telegram) nombre del grupo de usuarios de Telegram
            asignado, en caso de tener uno.
        </p>
    </div>
    </main>
{% endblock %}