{% extends 'base.html' %}

{% block tituloPagina %} Inicio {% endblock %}

{% block contenido %}
<main role="main">
    <div class="container mt-4">
        <div class="row">
            <div class="col-sm-8">
                <img class="img-fluid" alt="{{detection.img.name}}" src="{{detection.img.url}}" style="border-radius: 5px;">
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <h2 class="display-6">Detección #{{detection.id}}</h2>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Cámara:</strong>
                            {% if detection.cam == None %}
                                <span>Desconocida</span>
                            {% else %}
                                <span>{{detection.cam}}</span>
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            <strong>Detector:</strong>
                            {% if detection.detector == None %}
                                <span>Desconocido</span>
                            {% else %}
                                <span>{{detection.detector}}</span>
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            <strong>Items:</strong>
                            {% if detection.items == None %}
                                <span>-</span>
                            {% else %}
                                <span>{{detection.items}}</span>
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            <strong>Probabilidades:</strong>
                            {% if detection.pred == None %}
                                <span>-</span>
                            {% else %}
                                <span>{{detection.pred}}</span>
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            <strong>Fecha:</strong>
                            <span>{{detection.date}}</span>
                        </li>
                    </ul>
                    <div class="card-footer">
                        <a href="/deleteDetection/{{detection.id}}" class="icon-link">
                            <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Eliminar detección</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
