{% extends 'base.html' %}

{% block tituloPagina %} Inicio {% endblock %}

{% block contenido %}
<main role="main">
    <div class="container">
        <div class="row" style="margin-top: 30px;">
            <div class="col-sm-8">        <img class="img-fluid"  alt="{{cam.name}}"
                src="/video/{{cam.id}}"> </div>
            <div class="col-sm-4 text-center d-flex flex-column bd-highlight mb-3 justify-content-between">
                <h1>{{cam.name}}</h1>
                {% if cam.detector == None %}<div><h3><i class="fa-solid fa-brain"></i> Sin detector</h3></div>
                {% else %} <div class="haveDetector"><h3><i class="fa-solid fa-brain"></i> {{cam.detector.name}}</h3></div> {% endif %}
                {% if cam.groups.all %} 
                <div class="haveTelegram"><h3><i class="fa-brands fa-telegram" ></i> {{cam.groups.first}}</h3> </div>
                {% else %} <div><h3><i class="fa-brands fa-telegram" ></i> Sin grupo </h3></div> {% endif %}
                
            <div class="d-flex justify-content-between flex-row-reverse">
                <div class="d-flex flex-row-reverse bd-highlight"><a href="/deleteCam/{{cam.id}}"><button type="button" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Eliminar cámara</button></a></div>
                <div class="d-flex flex-row-reverse bd-highlight"><a href="/"><button type="button" class="btn btn-success"><i class="fa-solid fa-gear"></i> Configurar cámara</button></a></div>
            </div>
            <div class="d-flex justify-content-center flex-row-reverse">
            <div class="d-flex flex-row-reverse bd-highlight"><a href="/"><button type="button" class="btn btn-primary"><i class="fa-solid fa-camera"></i> Tomar instantanea</button></a></div>
            </div>
            </div>

        </div>

    </div>
    </main>
{% endblock %}