{% extends 'base.html' %}

{% block tituloPagina %} Inicio {% endblock %}

{% block contenido %}
<main role="main">
    <h1 class="text-center" style="margin-top: 30px;">Detecciones</h1>
    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col"><i class="far fa-eye"></i></th>
                <th scope="col"><i class="fa-solid fa-key"></i> Id</th>
                <th scope="col"><i class="fa-solid fa-camera"></i> Cámara</th>
                <th scope="col"><i class="fa-solid fa-calendar-days"></i> Fecha</th>
                <th scope="col"><i class="fa-solid fa-brain"></i> Detector</th>
              </tr>
            </thead>
            <tbody>
                {% for detection in detections %}
                <tr>
                    <th scope="row"><a href="/Deteccion/{{detection.id}}"> Ver </a></th>
                    <td>{{detection.id}}</td>
                    <td>{% if detection.cam == None %} Cámara desconocida {% else %}{{detection.cam}} {% endif %}</td>
                    <td>{{detection.date}}</td>
                    <td>{% if detection.detector == None %} Detector desconocido {% else %}{{detection.detector.name}} {% endif %}</td>
                  </tr>
                {% endfor %}

            </tbody>
          </table>
    </div>
    </main>
{% endblock %}