{% extends 'base.html' %}

{% block tituloPagina %} Inicio {% endblock %}

{% block contenido %}
<main role="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h1 class="text-center" style="margin-top: 30px;">Grupos</h1>
                <div class="d-flex flex-row-reverse bd-highlight"><a href="/CrearGrupo/"><button type="button" class="btn btn-custom"><i class="fas fa-plus"></i> Crear grupo</button></a></div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"><i class="fa-solid fa-trash"></i></th>
                        <th scope="col"><i class="fa-solid fa-signature"></i> Nombre</th>
                        <th scope="col"><i class="fa-solid fa-person"></i> Nº usuarios</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for group in groups %}
                        <tr>
                            <th scope="row"><a href="/deleteGroup/{{group.id}}" class="icon-link"> <i class="fa-solid fa-trash icon-trash"></i> </a></th>
                            <td>{{group.name}}</td>
                            <td>{{group.user_set.all|length}}</td>
                          </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
            <div class="col-sm-7">
                <h1 class="text-center" style="margin-top: 30px;">Usuarios</h1>
                <div class="d-flex flex-row-reverse bd-highlight"><a href="/CrearUsuario/"><button type="button" class="btn btn-custom"><i class="fas fa-plus"></i> Crear usuario</button></a></div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"><i class="fa-solid fa-trash"></i></th>
                        <th scope="col"><i class="fa-solid fa-signature"></i> Nombre</th>
                        <th scope="col"><i class="fa-solid fa-id-card"></i> Chat Id</th>
                        <th scope="col"><i class="fa-solid fa-people-group"></i> Grupo</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <th scope="row"><a href="/deleteUser/{{user.id}}" class="icon-link"> <i class="fa-solid fa-trash icon-trash"></i> </a></th>
                            <td>{{user.name}}</td>
                            <td>{{user.chat_id}}</td>
                            <td>{{user.group.name}}</td>
                          </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    </main>
{% endblock %}